<!DOCTYPE html>
<html>
  <head>
    <title>The Banner Saga: Factions | Battle Planner</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Skranji' rel='stylesheet' type='text/css'>

    <!-- Single Bundle -->
    <script src="js/app.min.js"></script>
  </head>
  <body ng-app="tbs.BattlePlannerNG">

    <div id="header">
      <div class="wrapper">
        <h1>The Banner Saga : Factions | Battle Planner</h1>
      </div>
    </div>

    <loadout></loadout>
    <character-selector></character-selector>
    <stat-editor></stat-editor>

    <div id="credits">
      <div class="wrapper">
        built by <a href="http://www.twitter.com/@dmosher">@dmosher</a>
        <span class="build">
          Calculator Release <span class="version"><%= pkg.version %></span> based on <a href="http://stoicstudio.com/forum/the-banner-saga-factions.php">The Banner Saga: Factions</a> build <span class="version"><%= pkg.tbs_version %></span>
        </span>
      </div>
    </div>

  </body>
</html>
