
html {
  font-family: 'Skranji', cursive;
  color: #9caab2;
}
html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
body {
  background: black;
}
#stat-editor {
  display: none;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
#header {
  height: 100px;
  background-color: #1d1f32;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1d1f32), to(#494e6a));
  background-image: -webkit-linear-gradient(top, #1d1f32, 0%, #494e6a, 100%);
  background-image: -moz-linear-gradient(top, #1d1f32 0%, #494e6a 100%);
  background-image: linear-gradient(to bottom, #1d1f32 0%, #494e6a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1f32', endColorstr='#ff494e6a', GradientType=0);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(73, 78, 106, 0.75);
  box-shadow: 0px 5px 10px 0px rgba(73, 78, 106, 0.75);
  position: relative;
}
#header h1 {
  padding-top: 25px;
  font-size: 2.5em;
  text-align: center;
  color: #9abaf0;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.allocated-max-stats {
  padding: 6px;
  border-top-left-radius: 6px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.75);
  color: orange;
  line-height: 1em;
  border-right: none;
  border-bottom: none;
  bottom: 38px;
  right: 8px;
  position: absolute;
  z-index: 4;
}
.stats-overlay {
  padding: 3px;
  border-radius: 6px;
  overflow: hidden;
  background: black;
  margin: 0 auto;
  margin-top: -5px;
  width: 129px;
  position: relative;
  z-index: 0;
}
.stats-overlay li {
  float: left;
  display: block;
  width: 25px;
  color: white;
  text-align: center;
  margin-right: 1px;
  border-radius: 2px;
}
.stats-overlay li:last-child {
  margin-right: 0px;
}
.stats-overlay .armor {
  background-color: #4873b2;
}
.stats-overlay .strength {
  background-color: #c4453b;
}
.stats-overlay .willpower {
  background-color: #c5a500;
}
.stats-overlay .exertion {
  background-color: #458e48;
}
.stats-overlay .break {
  background-color: #313131;
}
#loadout {
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#121a1d), to(#25404c));
  background-image: -webkit-linear-gradient(top, #121a1d, 0%, #25404c, 100%);
  background-image: -moz-linear-gradient(top, #121a1d 0%, #25404c 100%);
  background-image: linear-gradient(to bottom, #121a1d 0%, #25404c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff121a1d', endColorstr='#ff25404c', GradientType=0);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}
#loadout .character {
  padding-bottom: 30px;
  position: relative;
}
#loadout .character .move-left,
#loadout .character .move-right {
  position: absolute;
  display: none;
  width: 34px;
  height: 34px;
  top: 88px;
  background-size: 100%;
  z-index: 5;
}
#loadout .character .move-left {
  background-image: inline-image("../images/icon/move-left.png");
  left: -8px;
}
#loadout .character .move-right {
  background-image: inline-image("../images/icon/move-right.png");
  right: -8px;
}
#loadout .character .arrow {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 51px;
  color: #5f4d4d;
  font-size: 3em;
}
#loadout .character .help-text {
  text-align: center;
  position: absolute;
  top: 37%;
  left: 11%;
  width: 80%;
}
#loadout .character .remove {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#b62f12), to(#8f250d));
  background-image: -webkit-radial-gradient(circle, #b62f12, #8f250d);
  background-image: -moz-radial-gradient(circle, #b62f12, #8f250d);
  background-image: radial-gradient(circle, #b62f12, #8f250d);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid #7c8990;
  color: white;
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 0;
  text-align: center;
  line-height: 0.75em;
  font-size: 2em;
}
#loadout .character.choosing .arrow,
#loadout .character.edit-stats .arrow {
  display: block;
}
#loadout .character.choosing .arrow {
  display: block;
}
#character-selector,
#loadout,
.classes {
  overflow: hidden;
}
#character-selector {
  padding: 20px 0px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5f4d4d), to(#8b6049));
  background-image: -webkit-linear-gradient(top, #5f4d4d, 0%, #8b6049, 100%);
  background-image: -moz-linear-gradient(top, #5f4d4d 0%, #8b6049 100%);
  background-image: linear-gradient(to bottom, #5f4d4d 0%, #8b6049 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f4d4d', endColorstr='#ff8b6049', GradientType=0);
}
#character-selector .character {
  width: 125px;
  margin-right: 35px;
}
#character-selector .character:last-child {
  margin-right: 0px;
}
#character-selector .character .title {
  width: 125px;
}
#character-selector .character .portrait {
  width: 125px;
  height: 125px;
  background-size: 125px;
}
#character-selector .unit-type {
  float: left;
  margin-right: 25px;
}
#character-selector .unit-type.archers,
#character-selector .unit-type.shieldbangers {
  margin-right: 0px;
}
#character-selector .unit-type > .title {
  border-bottom: 1px solid #999;
  line-height: 60px;
  margin-bottom: 10px;
  font-size: 3em;
}
.build {
  float: right;
}
.build .version {
  color: orange;
}
#stat-editor {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5f4d4d), to(#8b6049));
  background-image: -webkit-linear-gradient(top, #5f4d4d, 0%, #8b6049, 100%);
  background-image: -moz-linear-gradient(top, #5f4d4d 0%, #8b6049 100%);
  background-image: linear-gradient(to bottom, #5f4d4d 0%, #8b6049 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f4d4d', endColorstr='#ff8b6049', GradientType=0);
  overflow: hidden;
  padding: 20px 0;
}
#stat-editor .title-and-controls {
  position: relative;
}
#stat-editor .controls {
  position: absolute;
  top: 0;
  right: 0;
}
#stat-editor .controls .reset,
#stat-editor .controls .total,
#stat-editor .controls .done,
#stat-editor .controls #rank-changer {
  border: 1px solid orange;
  display: block;
  float: right;
  margin-left: 10px;
  padding: 10px;
  color: white;
}
#stat-editor .controls #rank-changer {
  padding: 0 10px;
  padding-right: 0px;
}
#stat-editor .controls #rank-changer .ui-title {
  padding-right: 5px;
}
#stat-editor .controls #rank-changer.rank1 .set-rank-1,
#stat-editor .controls #rank-changer.rank2 .set-rank-2,
#stat-editor .controls #rank-changer.rank3 .set-rank-3 {
  background-color: rgba(222, 157, 82, 0.35);
}
#stat-editor .controls .change-rank {
  display: inline-block;
  border-left: 1px solid orange;
  padding: 10px;
  color: white;
}
#stat-editor .controls .reset:hover,
#stat-editor .controls .done:hover,
#stat-editor .controls .change-rank:hover {
  cursor: pointer;
  background-color: rgba(222, 157, 82, 0.35);
}
#stat-editor .title {
  border-bottom: 1px solid #999;
  line-height: 60px;
  margin-bottom: 10px;
  font-size: 2.5em;
}
#stat-editor .portrait,
#stat-editor .stats {
  float: left;
}
#stat-editor .stats {
  margin-top: 30px;
  width: 775px;
}
#stat-editor .stats li {
  text-align: right;
  padding-right: 175px;
  margin-bottom: 25px;
  font-size: 2.5em;
  border-width: 1px;
  border-style: solid;
  color: #ea9d2e;
  position: relative;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
#stat-editor .stats li .current {
  color: #ffdba6;
}
#stat-editor .stats li .max {
  color: #ea9d2e;
}
#stat-editor .stats li .icon {
  display: block;
  position: absolute;
  right: 60px;
  top: -8px;
  width: 70px;
  height: 70px;
  background-size: 100%;
}
#stat-editor .stats li .icon:hover {
  cursor: pointer;
}
#stat-editor .stats .armor {
  background-color: #4873b2;
  border-color: #37005a;
}
#stat-editor .stats .strength {
  background-color: #c4453b;
  border-color: #5d0300;
}
#stat-editor .stats .willpower {
  background-color: #c5a500;
  border-color: #602a01;
}
#stat-editor .stats .exertion {
  background-color: #458e48;
  border-color: #004514;
}
#stat-editor .stats .break {
  background-color: #313131;
  border-color: #070708;
}
#stat-editor .stats .total {
  margin-left: 425px;
  width: 175px;
  border: none;
}
#stat-editor .portrait {
  width: 160px;
  height: 460px;
  margin-right: 20px;
  background-size: 100%;
}
.character {
  width: 150px;
  height: 180px;
  float: left;
  margin-right: 10px;
}
.character:hover {
  cursor: pointer;
}
.character .title {
  font-size: 1.4em;
  height: 30px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
.character .portrait {
  height: 150px;
}
.character:first-child {
  margin-left: 5px;
}
.character:last-child {
  margin-right: 0px;
}
#credits {
  padding: 20px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1d1f32), to(#494e6a));
  background-image: -webkit-linear-gradient(top, #1d1f32, 0%, #494e6a, 100%);
  background-image: -moz-linear-gradient(top, #1d1f32 0%, #494e6a 100%);
  background-image: linear-gradient(to bottom, #1d1f32 0%, #494e6a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1f32', endColorstr='#ff494e6a', GradientType=0);
}
#credits a {
  color: orange;
  text-decoration: none;
}
.character .title {
  text-align: center;
}
.character .portrait {
  background-image: inline-image("../images/empty.character.frame.png");
  background-size: 150px;
  z-index: 1;
  position: relative;
}
#stat-editor .armor .icon {
  background-image: inline-image("../images/icon/armor.png");
}
#stat-editor .strength .icon {
  background-image: inline-image("../images/icon/strength.png");
}
#stat-editor .willpower .icon {
  background-image: inline-image("../images/icon/willpower.png");
}
#stat-editor .exertion .icon {
  background-image: inline-image("../images/icon/exertion.png");
}
#stat-editor .break .icon {
  background-image: inline-image("../images/icon/break.png");
}
#stat-editor .special .icon {
  background-image: inline-image("../images/icon/special.png");
}
.character.raider .portrait {
  background-image: inline-image("../images/characters/base/raider.png");
}
.character.archer .portrait {
  background-image: inline-image("../images/characters/base/archer.png");
}
.character.warrior .portrait {
  background-image: inline-image("../images/characters/base/warrior.png");
}
.character.shieldbanger .portrait {
  background-image: inline-image("../images/characters/base/shieldbanger.png");
}
#stat-editor .portrait.warhawk {
  background-image: inline-image("../images/characters/portraits/warhawk.png");
}
#stat-editor .portrait.warleader {
  background-image: inline-image("../images/characters/portraits/warleader.png");
}
#stat-editor .portrait.warmaster {
  background-image: inline-image("../images/characters/portraits/warmaster.png");
}
#stat-editor .portrait.bowmaster {
  background-image: inline-image("../images/characters/portraits/bowmaster.png");
}
#stat-editor .portrait.skystriker {
  background-image: inline-image("../images/characters/portraits/skystriker.png");
}
#stat-editor .portrait.siegearcher {
  background-image: inline-image("../images/characters/portraits/siegearcher.png");
}
#stat-editor .portrait.raidmaster {
  background-image: inline-image("../images/characters/portraits/raidmaster.png");
}
#stat-editor .portrait.thrasher {
  background-image: inline-image("../images/characters/portraits/thrasher.png");
}
#stat-editor .portrait.backbiter {
  background-image: inline-image("../images/characters/portraits/backbiter.png");
}
#stat-editor .portrait.strongarm {
  background-image: inline-image("../images/characters/portraits/strongarm.png");
}
#stat-editor .portrait.provoker {
  background-image: inline-image("../images/characters/portraits/provoker.png");
}
#stat-editor .portrait.shieldmaster {
  background-image: inline-image("../images/characters/portraits/shieldmaster.png");
}
.character.warhawk .portrait {
  background-image: inline-image("../images/characters/rank1/warhawk.png");
}
.character.warleader .portrait {
  background-image: inline-image("../images/characters/rank1/warleader.png");
}
.character.warmaster .portrait {
  background-image: inline-image("../images/characters/rank1/warmaster.png");
}
.character.bowmaster .portrait {
  background-image: inline-image("../images/characters/rank1/bowmaster.png");
}
.character.skystriker .portrait {
  background-image: inline-image("../images/characters/rank1/skystriker.png");
}
.character.siegearcher .portrait {
  background-image: inline-image("../images/characters/rank1/siegearcher.png");
}
.character.raidmaster .portrait {
  background-image: inline-image("../images/characters/rank1/raidmaster.png");
}
.character.thrasher .portrait {
  background-image: inline-image("../images/characters/rank1/thrasher.png");
}
.character.backbiter .portrait {
  background-image: inline-image("../images/characters/rank1/backbiter.png");
}
.character.strongarm .portrait {
  background-image: inline-image("../images/characters/rank1/strongarm.png");
}
.character.provoker .portrait {
  background-image: inline-image("../images/characters/rank1/provoker.png");
}
.character.shieldmaster .portrait {
  background-image: inline-image("../images/characters/rank1/shieldmaster.png");
}
