<div id="loadout" ng-cloak>
  <div class="wrapper">
    <ul id="selected-characters">
      <li ng-repeat="unit in units" class="character {{ unit.name }}" ng-click="edit(unit)">
        <div class="title">{{ unit.name }}</div>
        <div class="portrait">
          <span class="help-text" ng-hide="isChosen($index)">Click a unit below</span>
        </div>
        <span class="remove" show-if-unit-has-stats-when-parent-is-hovered ng-click="clearUnit(unit)">&times;</span>
        <ul class="stats-overlay">
          <li class="armor">{{ statsOrEmpty(unit, "armor") }}</li>
          <li class="strength">{{ statsOrEmpty(unit, "strength") }}</li>
          <li class="willpower">{{ statsOrEmpty(unit, "willpower") }}</li>
          <li class="exertion">{{ statsOrEmpty(unit, "exertion") }}</li>
          <li class="break">{{ statsOrEmpty(unit, "break") }}</li>
        </ul>
        <span class="move-left" show-if-unit-has-stats-when-parent-is-hovered position="0" ng-click="moveUnit(unit, $index, -1, $event)"></span>
        <span class="move-right" show-if-unit-has-stats-when-parent-is-hovered position="5" ng-click="moveUnit(unit, $index, 1, $event)"></span>
        <div class="allocated-max-stats">
          <span class="allocated">{{ unit.allocated_stat_points }}</span>/<span class="max">{{ unit.max_stat_points }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
